:root {
    --color-esmeralda: #018a73;
    --color-azulado: #1b7d6d;
    --color-oscuro: #1f4a43;
    --color-principal: #203330;
    --color-gris: #2a3331;
    --color-blanco: #ffffff;
    --color-secundario: #cbd5e0;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-principal);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    

}


h1,
h2,
h3,
.titulo,
.boton,
nav a, footer {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;

}

.header {
    width: 100vw;
    height: 10vh;
    background-color: var(--color-azulado);
    border-bottom: 0.2em solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-contenedor {
    width: 10%;
    height: 100%;
}


.logo-header {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.btn-hamburguesa {
    display: none;
    background: none;
    border: none;
    color: var(--color-blanco);
    font-size: 2rem;
    cursor: pointer;
}



.nav-header {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;

}


.nav-header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.nav-header ul a {
    color: white;
    text-decoration: none;
}


.titulo-principal {
    height: 90px;
    font-size: 5em;
    color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 50px;
    
    margin-bottom: 3%;
}

.card-paises {
    width: 450px;
    height: 300px;
    background: var(--color-blanco);
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    border-radius: 20px;
    border: 5px solid var(--color-blanco);
    color: var(--color-blanco);

}

.img-bandera {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-top: 20px;


}

.card-contenido-paises {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    opacity: 1;
}

.card-paises:hover .card-contenido-paises {
    transform: translateY(0);
}


.card-contenido-paises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo-card-paises {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 10px;
}

.card-info-paises-1 {
    width: 50%;
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid white;
}

.card-info-paises-2 {
    width: 50%;
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid white;
}


.boton-conocer-mas {
    display: inline-block;
    width: 8em;
    height: 2em;
    background-color: var(--color-esmeralda);
    color: var(--color-blanco);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


footer {
    width: 100%;
    height: 100%;
    background: var(--color-esmeralda);
    padding: 1% 3%;
    font-size: 20px;
    letter-spacing: 2px;
}


.cotenedor-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2em;
    align-items: start;
}



.contenedor-logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
}



.logo-footer {
    width: 30%;
    height: 100%;
    object-fit: contain;
}


.contenedor-redes a {
    color: white;
    font-size: 1.5em;
    margin-right: 0.8em;
    transition: color 0.3s;
}

.footer-seccion  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.footer-seccion h3 {
    border-bottom: 1px solid var(--color-blanco);
    margin-right: 20%;
    margin-bottom: 0.5em;
}


.footer-seccion ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0;
    list-style: none;
}


.footer-seccion a {
    text-decoration: none;
    color: var(--color-blanco);
    
}

.footer-seccion a:hover, .contenedor-redes a:hover{
    color: var(--color-oscuro);
}

.footer-copy {
    text-align: center;
    margin-top: 2em;
    color: white;
    font-size: 0.8em;
}


@media screen and (max-width: 64em) { 
    
    .header {
        width: 100vw;
        height: 10vh;

    }

    .btn-hamburguesa {
        display: block;
    }

    .nav-header {
        display: none;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        background: var(--color-azulado);
        padding: 1em;
    }

    

    .nav-header ul {
        flex-direction: column;
        gap: 1em;
    }

    
     .menu-toggle:checked ~ .nav-header {
        display: flex;
        flex-direction: column;
    }


}


@media screen and (max-width: 40em) { 
    
    .header {
        width: 100vw;
        height: 10vh;

    }

    
     .btn-hamburguesa {
        display: block;
    }

    .nav-header {
        display: none;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        background: var(--color-azulado);
        padding: 1em;
    }

 

    .nav-header ul {
        flex-direction: column;
        gap: 1em;
    }


    .menu-toggle:checked ~ .nav-header {
        display: flex;
        flex-direction: column;
    }

}