:root {
    --color-esmeralda: #018a73;
    --color-azulado: #1b7d6d;
    --color-oscuro: #1f4a43;
    --color-principal: #203330;
    --color-gris: #2a3331;
    --color-blanco: #ffffff;
    --color-secundario: #cbd5e0;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-principal);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;


}


h1,
h2,
h3,
.titulo,
.boton,
nav a,
footer {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;

}

.header {
    width: 100%;
    height: 10vh;
    background-color: var(--color-azulado);
    border-bottom: 5px solid var(--color-gris);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.logo-contenedor {
    width: 10%;
    height: 100%;
}


.logo-header {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-hamburguesa {
    display: none;
    border: none;
    background: none;
    color: var(--color-blanco);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.menu-toggle {
    display: none;
    position: absolute;
}



.nav-header {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;

}


.nav-header ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 1em;
    gap: 1.5em;
}

.nav-header ul a {
    color: white;
    text-decoration: none;
}

.nav-header a:hover {
    color: var(--color-oscuro);
}


.titulo-principal {
    height: 10vh;
    font-size: 5em;
    color: white;
    padding: 1.25rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.75rem;
    padding: 3.12rem;
    margin-bottom: 3%;
}

.card-paises {
    width: 100%;
    max-width: 30rem;
    height: 18rem;
    background: var(--color-blanco);
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    border-radius: 20px;
    border: 5px solid var(--color-blanco);
    color: var(--color-blanco);
}

.img-bandera {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-top: 1.25rem;
}

.card-contenido-paises {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.6rem;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    opacity: 1;
}

.card-paises:hover .card-contenido-paises {
    transform: translateY(0);
}


.card-contenido-paises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo-card-paises {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 0.6rem;
}

.card-info-paises-1 {
    width: 50%;
    text-align: center;
    margin: 0.6rem;
    border-bottom: 2px solid white;
}

.card-info-paises-2 {
    width: 50%;
    text-align: center;
    margin: 0.6rem;
    border-bottom: 2px solid white;
}


.boton-conocer-mas {
    display: inline-block;
    width: 8em;
    background-color: var(--color-esmeralda);
    color: var(--color-blanco);
    padding: 0.6em 1.25em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


.boton-conocer-mas:hover {
    background: var(--color-gris);
}


footer {
    width: 100%;
    height: auto;
    background: var(--color-esmeralda);
    padding: 2rem 3rem;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}


.cotenedor-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: start;
}



.contenedor-logo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}



.logo-footer {
    width: 30%;
    height: 100%;
    object-fit: contain;
}


.contenedor-redes a {
    color: white;
    font-size: 1.5em;
    margin-right: 0.8em;
    transition: color 0.3s;
}

.footer-seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.footer-seccion h3 {
    border-bottom: 1px solid var(--color-blanco);
    margin-bottom: 0.5rem;
    padding-bottom: 0.3rem;

}


.footer-seccion ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}


.footer-seccion a {
    text-decoration: none;
    color: var(--color-blanco);

}

.footer-seccion a:hover,
.contenedor-redes a:hover {
    color: var(--color-oscuro);
}

.footer-copy {
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 0.8em;
}


@media (max-width: 64em) {


    .logo-contenedor {
        width: 15%;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        padding: 2em;
    }

    .card-paises {
        width: 100%;
    }

    .titulo-principal {
        font-size: 3em;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
    }

    .cotenedor-footer {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .contenedor-logo {
        grid-column: 1 / span 2;
        gap: 2em;
    }
}


@media (max-width: 40em) {

    .logo-contenedor {
        width: 20%;
    }

    .btn-hamburguesa {
        display: block;
        padding: 0 1em;
    }

    .nav-header {
        display: none;
        width: 100%;
        position: absolute;
        top: 10vh;
        left: 0;
        background: var(--color-azulado);
        padding: 1em;
        z-index: 99;
        height: auto;
    }

    .menu-toggle:checked~.nav-header {
        display: flex;
        flex-direction: column;
    }

    .nav-header ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        height: auto;
        padding: 0;
    }


    .titulo-principal {
        font-size: 2em;
        height: auto;
        margin: 0.5em 0;
        padding: 0.5em;
    }


    main {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 1em;
        margin-bottom: 5%;
    }

    .card-paises {
        width: 100%;
        height: 250px;
        margin-top: 0;
    }


   .cotenedor-footer {
        grid-template-columns: 1fr;
        gap: 1.5em;
        margin: 1rem;
    }

    .contenedor-logo {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .logo-footer {
        width: 50%;
    }

    footer {
        font-size: 1em;
        padding: 5% 5%;
    }

    .footer-copy {
        font-size: 0.7em;
        margin-top: 1.5em;
    }
}