:root {
    --color-esmeralda: #018a73;
    --color-azulado: #1b7d6d;
    --color-oscuro: #1f4a43;
    --color-principal: #203330;
    --color-gris: #2a3331;
    --color-blanco: #ffffff;
    --color-secundario: #cbd5e0;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--color-principal);

}

.header {
    width: 100%;
    height: 90px;
    background-color: var(--color-azulado);
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 50px;
    height: 50px;
    background: black;
    margin: 20px;
}

.nav-header {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;

}


.nav-header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.nav-header ul a {
    color: white;
    text-decoration: none;
}


.titulo-principal {
    height: 90px;
    font-size: 5em;
    color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 50px;
}
   

/* Prueba 1 forma de acostada de rectangulo */
.card-paises {
    width: 450px;
    height: 300px;
    background: var(--color-oscuro);
    margin: auto;
    margin-top: 20%;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.card-paises:hover {
    transform: translateY(-10%);
}

.img-bandera {
    width: 100%;
    height: 80%;  
    object-fit: cover;
    border-radius: 20px;
}

.card-contenido-paises {
    width: 100%;
    height: 50%;
    background: var(--color-oscuro);
    position: relative;
    bottom: 34%;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;    
    border-top: none;
}

.card-contenido-paises {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titulo-card-paises {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 10px;
}

.card-info-paises-1 {
    width: 50%;
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid white ;
 }

.card-info-paises-2 {
    width: 50%;
    text-align: center;
    margin: 10px;
     border-bottom: 2px solid white;
}

.boton-conocer-mas {
    display: inline-block;
    width: 8em;
    height: 2em;
   background-color: var(--color-esmeralda);
   color: var(--color-blanco);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;    
    position: relative;
    left: 58%;
    bottom: 60%;     
} 



/* Forma 2 tipo card

.card-paises {
    width: 60%;
    height: 100%;
    margin: auto;
    border-radius:25px; 
    border: 5px solid black;

    transition: transform 0.4s ease;
}

.img-bandera {
    width: 100%;
    height: 50%;  
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    display: block;
}

.card-paises:hover {
    transform: translateY(-10%);
}

.card-contenido-paises {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    background: var(--color-oscuro);
    color: var(--color-blanco);
    border-radius: 0 0 20px 20px;
}

.titulo-card-paises {
    width:60%;
    border-bottom: 2px solid white;
    margin: 10px;
    margin-top: 0;
    padding: 5px;
    display: flex; 
    justify-content: flex-start;
    font-size: 1.5em;
}

.card-info-paises-1 {
    width: 60%;
    border-bottom: 2px solid white;
    margin: 10px;
    display: flex; 
    justify-content: flex-start;
    font-size: 1em;
}

.card-info-paises-2 {
    width: 60%;
    border-bottom: 2px solid white;
    margin: 10px;
    display: flex; 
    justify-content: flex-start;
    font-size: 1em;
}


.boton-conocer-mas {
    display: inline-block;
    width: 40%;
    background: var(--color-esmeralda) ;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 20px;    
}   */



/* Forma 3 Solo bandera com hover que tapa la bandera y muestra contenido 
.card-paises {
    width: 450px;
    height: 300px;
    background: var(--color-oscuro);
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    border-radius: 20px;
    color: white;
    
}

.img-bandera {
    width: 100%;
    height: 100%;  
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-contenido-paises {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    opacity: 0.8;
}

.card-paises:hover .card-contenido-paises {
  transform: translateY(0); 
}


.card-contenido-paises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo-card-paises {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 10px;
}

.card-info-paises-1 {
    width: 50%;
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid white ;
 }

.card-info-paises-2 {
    width: 50%;
    text-align: center;
    margin: 10px;
    border-bottom: 2px solid white;
}


.boton-conocer-mas {
    display: inline-block;
    width: 8em;
    height: 2em;
   background-color: var(--color-esmeralda);
   color: var(--color-blanco);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;      
}
*/



